<div class="container">
    <div class="row main-section">
        <div class="col-md-6 content-section">
            <div class="highlight">WHAT WE ARE DOING</div>
            <h1>24k Talented people are getting Jobs</h1>
            <p>At our platform, we take pride in connecting talented individuals with their dream jobs. With a community of 24k skilled professionals, we ensure that the right opportunities reach the right people.</p>
            <p>Our mission is to simplify the job search process, making it efficient and effective for everyone involved. Join us and be a part of a success story where thousands are finding their perfect career matches every day.</p>
            <button class="btn-post-job" routerLink="/addjob">Post A Job</button>
        </div>
        <div class="col-md-6">
            <img src="assets/img/aboutheader.png" alt="Professional Image" class="img-fluid">
       
        </div>
    </div>
</div>