<div class="container mt-5">
    <h2>Employee Applications</h2>
    <table class="table table-bordered table-striped mt-3">
      <thead class="thead-dark">
        <tr>
          <th>Name</th>
          <th>Email</th>
          <th>Qualification</th>
          <th>Mobile</th>
          <th>Resume</th>
          <th>Job Title</th>
          <th>Company</th>
          <th>Experience</th>
          <th>Location</th>
          <th>Salary</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let employee of employees">
          <td>{{ employee.name }}</td>
          <td>{{ employee.email }}</td>
          <td>{{ employee.qualification }}</td>
          <td>{{ employee.mobile }}</td>
          <td><a [href]="'http://localhost:3001' + employee.resume" target="_blank">View Resume</a></td>
          <td>{{ employee.jobTitle }}</td>
          <td>{{ employee.company }}</td>
          <td>{{ employee.experience }}</td>
          <td>{{ employee.location }}</td>
          <td>{{ employee.salary }}</td>
        </tr>
      </tbody>
    </table>
  </div>
  