<div class="banner">
    <div class="overlay"></div>
    <div class="container">
    </div>
</div>

<p class="getyourjob">Get Your Job</p>
<div class="container-fluid">
    <div class="row">
        
            <span class="foundjobs">{{ filteredJobs.length }} Jobs found</span><br><br>
    <hr>
        
        <div class="col-md-3 filter-section">
            <h5>Job Category</h5>
            <select class="form-control" (change)="onCategoryChange($event)">
                <option value="All Category">All Category</option>
                <option *ngFor="let category of categories" [value]="category">{{ category }}</option>
            </select>
            <hr>
            <h5>Job Location</h5>
            <select class="form-control" (change)="onLocationChange($event)">
                <option value="Anywhere">Anywhere</option>
                <option *ngFor="let location of locations" [value]="location">{{ location }}</option>
            </select>
            <hr>
            <h5>Experience</h5>
            <select class="form-control" (change)="onExperienceChange($event)">
                <option value="Any">Any</option>
                <option *ngFor="let experience of experiences" [value]="experience">{{ experience }}</option>
              </select>
            <hr>
            <h5>Posted Within</h5>
            <div class="form-check">
                <input class="form-check-input" type="checkbox" value="" id="postedAny">
                <label class="form-check-label" for="postedAny">Any</label>
            </div>
            <div class="form-check">
                <input class="form-check-input" type="checkbox" value="" id="postedToday" checked>
                <label class="form-check-label" for="postedToday">Today</label>
            </div>
            <hr>
            
        </div>
        <div class="col-md-9">
            
            <div *ngFor="let job of filteredJobs" class="job-card d-flex align-items-center">
                <img [src]="'http://localhost:3001' + job.image" alt="Company Logo" class="mr-3 company-logo">
                <div class="job-info flex-grow-1">
                    <div class="job-title"> {{ job.title }}</div>
                    <div class="text-muted bi bi-building fw-bold"> {{ job.company }}</div>
                    <div class="text-muted bi bi-briefcase"> {{ job.experience }}</div>
                    <div class="text-muted bi bi-geo-alt"> {{ job.location }}</div>
                    <div class="salary bi bi-currency-rupee"> {{ job.salary }}</div>
                </div>
                <div>
                    <button class="btn btn-outline-info ml-auto" [routerLink]="['/jobdetails', job.id]">View Details</button><br><br>
                    <button class="btn btn-outline-primary ml-auto" [routerLink]="['/apply', job.id]">Apply</button>
                </div>
            </div>
        </div>
    </div>
</div>
