<div class="container contact-section">
    <div class="row">
        <div class="col-md-6">
            <div class="contact-form">
                <p class="contactmaintitle">Get in Touch</p>
                <form>
                    <div class="form-group mb-3">
                        <textarea class="form-control" rows="5" placeholder="Enter Message"></textarea>
                    </div>
                    <div class="row mb-3">
                        <div class="col-md-6">
                            <input type="text" class="form-control" placeholder="Enter your name">
                        </div>
                        <div class="col-md-6">
                            <input type="email" class="form-control" placeholder="Email">
                        </div>
                    </div>
                    <div class="form-group mb-3">
                        <input type="text" class="form-control" placeholder="Enter Subject">
                    </div>
                    <button type="submit" class="btn btn-send">SEND</button>
                </form>
            </div>
        </div>
        <div class="col-md-4">
            <div class="contact-info">
                <p><i class="bi bi-geo-alt-fill"></i> 509, 5th Floor, Pride Icon, Pune, Pincode: 411984</p>
                <p><i class="bi bi-telephone-fill"></i> 9875854787/8875987546 <br> Mon to Fri 9am to 6pm</p>
                <p><i class="bi bi-envelope-fill"></i> support@jobhub.com <br> Send us your query anytime!</p>
            </div>
        </div>
    </div>
</div>